/* css reset */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 65.5%;
}

body{
    font-size: 1.6rem;
    background-color: rgb(204,204,204);
}

/* heading */
h1{
    color: rgb(125,139,155);
    font-size: 5rem;
    padding: 1rem;
    text-align: center;
}

/* video */
.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

#videoContainer{
    position: relative;
    top: 0;
    left: 0;
    max-width: 90vw;
    height: 40rem;
    width: 78rem;
    background: rgb(102,102,102);
    padding: 1rem;
}

video{
    position: absolute;
    top: 2%;
    left: 1%;
    max-width: 88vw;
}


/* controls */
#video-controls{
    position: relative;
    top: 84%;
    max-width: 88vw;
    margin-top: 1rem;
}

#video-controls > button, .progress{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    height: 10%;
    display: inline-block;
    color: gray;
}

button > i{
    background: black;
    border-radius: 6px;
    padding: 0.6rem;
}

progress[value]{
    appearance: none;
    width: 51rem;
    height: 28px;
}

progress[value]::-webkit-progress-bar{
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


/* responsive */
@media screen and (max-width: 400px){
    h1{
        font-size: 3rem;
    }
}