/* css reset */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 65.5%;
}

body{
    font-size: 1.6rem;
}

/* video */
#videoContainer{
    background: rgb(102,102,102);
    display: inline-block;
    padding: 1rem;
    max-width: 90vw;
    width: 700px;
    margin: 0 auto;
}

#video{
    max-width: 90vw;
    width: 60rem;
    height: 100%;
}

/* controls */
#video-controls{
    position: relative;
    height: 100%;
}

#video-controls > button, .progress{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    height: 10%;
    display: inline-block;
    color: gray;
}

button > i{
    background: black;
    border-radius: 6px;
    padding: 0.6rem;
}

